{% extends "base.html" %}

{% block scripts %}{% endblock scripts %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Review your order</h1>
                <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
            </div>
        </div>
    </header>
    <!-- Section -->
    <section class="py-5">
        <div class="d-flex justify-content-center">
            <h3>Total: RM{{ totals }}</h3>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="card mb-3">
                <div class="card-header">
                    Order summary
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for product in products %}
                            {% comment %} {% include 'cart_product.html' with product=product quantities=quantities %} {% endcomment %}
                            {{ product.name }}:
                            {% if product.is_on_sale %}
                                {{ product.sale_price }}
                            {% else %}
                                {{ product.price }}
                            {% endif %}
            
                            <br/>
                            <small>
                                Quantity:
                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </small>
                            <br/>
                        {% empty %}
                            <p>There's nothing in your cart :&#40;&#40;&#40;&#40;&#40;</p>
                        {% endfor %}
                        <br/>
                        <strong>
                            Total: RM{{ totals }}
                        </strong>
                    </p>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Shipping information
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <form method="POST" action="{% url 'billing_info' %}">
                            {% csrf_token %}
                            {{ shipping_form.as_p }}
                            <button type="submit" class="btn btn-primary w-100">Continue to billing</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}