{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Surikami</h1>
                {% comment %} <p class="lead fw-normal text-white-50 mb-0"></p> {% endcomment %}
            </div>
        </div>
    </header>
    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <p>
                <justify>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut risus tincidunt, porttitor enim vel, mattis augue. Pellentesque lacinia sem non tortor volutpat molestie. Sed eget velit aliquam, semper nunc congue, dapibus leo. Nam risus metus, pharetra sit amet metus id, aliquam venenatis sapien. Sed ligula mi, tempus sed diam vel, finibus rutrum nisl. Nulla ac ante quis risus fringilla aliquet. Vestibulum placerat risus non vulputate eleifend. Nullam aliquam leo vitae est hendrerit pulvinar. Quisque justo tortor, rhoncus sed libero sed, pharetra malesuada augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla non libero finibus, posuere sapien semper, semper metus.

                    Phasellus at ligula in lorem volutpat finibus vitae id nulla. Morbi finibus eu arcu nec congue. Phasellus accumsan tellus et quam tristique, nec euismod sem cursus. Sed ornare, erat et mollis tristique, diam sapien pellentesque risus, id ornare sem arcu eu lectus. Praesent dolor nulla, maximus in fringilla in, rhoncus sit amet risus. Nam venenatis aliquet mollis. Fusce porta ipsum id magna faucibus egestas. Pellentesque accumsan ultrices purus eu scelerisque. Sed condimentum leo tortor, a bibendum quam consequat sed. Praesent eget libero lobortis, cursus nulla vitae, molestie quam. Fusce lacinia, libero id malesuada vulputate, est est aliquet tortor, nec finibus velit metus a quam. Nam at diam id risus tempus eleifend sit amet in odio. Maecenas eu metus nec arcu auctor tincidunt id non magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed dignissim fermentum ullamcorper. Duis nec cursus est.

                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis est dolor, convallis ullamcorper enim viverra, tempus pretium ipsum. Aliquam non elit ultrices, bibendum tortor pretium, aliquam ex. Aenean pharetra elit orci, id sodales dui viverra ullamcorper. Ut volutpat augue sit amet quam laoreet, congue lobortis libero tempor. Donec eros ipsum, malesuada sed gravida in, blandit sed tellus. Integer sollicitudin est arcu, placerat facilisis arcu placerat nec. Nulla facilisi. Phasellus in sapien id sapien gravida malesuada vitae quis sem. Pellentesque venenatis nulla eget tortor dapibus, vel dictum leo lacinia. Donec tempus elit id justo accumsan, nec mollis eros interdum. Phasellus dictum eget orci quis auctor. Mauris vitae diam urna.

                    Nulla quis nisl vitae justo viverra cursus. Pellentesque elementum, metus quis pharetra aliquet, libero eros feugiat felis, et vehicula lorem massa id ipsum. Sed fringilla nisl et purus pellentesque, in dapibus tortor dignissim. In aliquam vitae elit eu ultrices. Sed porta bibendum lectus eu rhoncus. Praesent vehicula eros quis felis ullamcorper placerat. Curabitur malesuada aliquam felis a lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    Quisque sagittis tempus porttitor. Mauris faucibus commodo leo, eu consectetur felis. Nulla tempor ligula at nibh dictum, nec maximus magna venenatis. Praesent non ultricies nibh. Vestibulum sit amet tempus magna. Pellentesque quam leo, bibendum eget leo a, cursus tincidunt augue. Suspendisse vitae ligula at turpis molestie dapibus eu eu nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                </justify>
            </p>
        </div>
    </section>
{% endblock content %}