{% extends "base.html" %}

{% block scripts %}{% endblock scripts %}

{% block content %}
    <!-- Header-->
    {% comment %} <header class="bg-dark py-5" style="background-image: url({{ product.image.url }});">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Product #{{ product.id }}</h1>
                <p class="lead fw-normal text-white-50 mb-0">{{ product.name }}</p>
            </div>
        </div>
    </header> {% endcomment %}
    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 text-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.description }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                {% comment %} <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> {% endcomment %}
                                <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        Quantity:
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-select" aria-label="Default select example" id="quantity-cart">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" value={{ product.id }} id="add-cart">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <p>
                {{ product.description }}
            </p>
            <p>
                {% if product.is_on_sale %}
                    <strike>${{ product.price }}</strike>&nbsp;${{ product.sale_price }}
                {% else %}
                    ${{ product.price }}
                {% endif %}
            </p> {% endcomment %}
        </div>
    </section>
    <script>
        // Check if button is pressed
        $(document).on('click', '#add-cart', function(e) {
            e.preventDefault();

            $.ajax({
                // Designate 
                type: 'POST',
                url: '{% url "cart_add" %}',
                data: {
                    product_id: $('#add-cart').val(),
                    product_qty: $('#quantity-cart option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(json) {
                    // console.log(json);
                    document.getElementById('cart-quantity').innerHTML = json.qty;
                    location.reload();
                },

                error: function(xhr, errmsg, err) {
                    // ...
                },
            })
        })
    </script>
{% endblock content %}